.table-container {
    width: 100%;
    padding: 90px 40px 40px 40px;
    position: relative;
    box-shadow: 0 0 .3em #cdcdcd;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 .3em #cdcdcd;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
}

table thead {
    background: var(--primary-color);
    color: #f1f1f1;
}
table tr th,
table tr td {
    padding: 10px;
    border-bottom: 1px solid #cdcdcd;
    font-size: 12px;
}
table tbody tr td {
    color: #404040;
    font-size: 10px;
}

table tr:nth-child(even) {
    background: #f6f6f6;
}
table tr th:last-child,
table tr td:last-child {
    width: fit-content;
}
