.table-container {
    width: 100%;
    height: 100%;
    padding: 90px 40px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 .3em #cdcdcd;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 .3em #cdcdcd;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
}

table thead {
    background: var(--secundary-color);
    color: #f1f1f1;
}
table tr th,
table tr td {
    padding: 12px;
    border-bottom: 1px solid #cdcdcd;
}
table tbody tr td {
    color: #404040;
    font-size: 12px;
}
