@import url(login-page-mobile.css);
@import url(menu-lateral-mobile.css);
@import url(form-mobile.css);
@import url(table-mobile.css);
@import url(buttons-mobile.css);

@media screen and (width < 640px) {

    .principal {
        padding: 10px !important;
        flex-direction: column;
    }
    .cabecalho-mobile {
        width: 100%;
        padding: 10px;
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 0 .3em #cdcdcd;
        border-radius: 5px;
        background: #fff;
    }
    .cabecalho-mobile img {
        width: 50px;
    }

    .conteudo {
        padding: 10px !important;
    }

    .conteudo-center .links-container {
        width: 100% !important;
        padding: 70px 20px 20px 20px !important;
        flex-wrap: nowrap !important;
        flex-direction: column;
        gap: 15px !important;
    }

    .conteudo-center .links-container .link {
        width: 100% !important;
    }
    .conteudo-center .links-container a:nth-child(odd):hover {
        transform: rotate(3deg) scale(1.02) !important;
    }
    
    .conteudo-center .links-container a:nth-child(even):hover {
        transform: rotate(-3deg) scale(1.02) !important;
    }
}